@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.html {
    scroll-behavior: smooth;
}
body {

 
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

a {
    color: #4223f0;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(237, 137, 182);

}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
     
    
     
}

.navbar ul {
    list-style: none;
    margin-left: 40px;
}

/*.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}
.navbar ul li a:hover {
    color: rgb(11, 243, 30);

}*/

.navbar ul a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(32, 5, 205);
    margin-left: 3.5rem;
    transition: .5s;
}
.navbar ul a:hover a,
.navbar ul a :active {
    color: rgb(231, 235, 23);
    
}


.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
}
.home-info h1 {
    font-size: 55px;
    
}
.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn-sci {
    width: 25%;
    display: inline-block;
    padding: 10px 30px;
    background: #b3db68;
    border: 2px solid #2dcbf3;
    border-radius: 40px;
    box-shadow: 0 0 10px #deeaf0;

}
.home-image {
   
    width: 500px;           /* Width and height to control size */
    height: 500px; 
    overflow: hidden;       /* Ensures the image is contained within the circle */
    display: flex;
    position: absolute;
   margin-left: 1000px;
   margin-top: 270px;
}
.home-image2 {
   
    width: 500px;           /* Width and height to control size */
    height: 500px; 
    overflow: hidden;       /* Ensures the image is contained within the circle */
    display: flex;
    position: absolute;
   margin-right: 1000px;
   margin-top: 270px;
}
/* Style the image inside */
.home-image img {
   
    width: 80%;            /* Makes the image fill the container */
    height: 100%;
}
.about {

    padding: 60px 9% 0;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    
}
 
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.about-col-2 {
    
    color:#ffffff;
}
 
.languages {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    align-items: center;
}
 
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
 
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
 
.tab-links {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.sub-title1 {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    align-items: center;
    padding-bottom: 20px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4c1cea;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
 
.tab-contents ul li span {
    color: #1613e0;
    font-size: 14px;
}
 
.tab-contents {
    display: none;
}
 
.tab-contents.active-tab {
    display: block;
}

/*Skill style*/

img{
    width: 60px;
    height: 60px;
  }
  .container{
    display: grid;
    padding: 60px 9% 0;
  
  }
  .container__box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 15px;
  }
  .container .container__box .box{
    background: #fff;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #333;
    text-align: center;
    padding: 20px 30px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s, linear;
  }
  .container__heading{
    text-align: center;
    padding-bottom: 15px;
    color: #e3e3e3;
    text-shadow: 0 0 10px #ffffff;
    font-size: 50px;
    font-weight: 600;
  }
  .container .container__box .box h3{
    color: #444;
    font-size: 20px;
    font-weight: 600;
  }
  .container .container__box .box p{
    font-size: 14px;
    font-weight: 100;
    color: #555;
  }
  .container .container__box .box a{
    border-radius: 4px;
    background:#444;
    color: white;
  }
  .container .container__box .box a:hover{
    background: #908080;
  }
  /*contact style*/
  #contact {
    background: #f18bbe;
    color: #fff;
}
form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #ffe7e7;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
 .btn{
    background-color: #4c1cea;
    color: #e3e3e3;
    border-radius: 5px;
    border: none;
    width: 15%;
    cursor: pointer;
    font-size: 16px;
 }
.header1{
    font-size: 60px;
    color: #ffffff;
}
 
section {
    padding: 60px 0;
}

 

