@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #307fe7;
}

a {
    color: #4223f0;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;  
}

.navbar ul {
    list-style: none;
    margin-left: 40px;
}

/*.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}
.navbar ul li a:hover {
    color: rgb(11, 243, 30);

}*/

.navbar ul a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(140, 226, 241);
    margin-left: 3.5rem;
    transition: .5s;
}
.navbar ul a:hover a,
.navbar ul a :active {
    color: rgb(231, 235, 23);
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: azure;
}
.home-info h1 {
    font-size: 55px;
}
.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn-sci {
    width: 20%;
    display: inline-block;
    padding: 10px 30px;
    background: #dedee4;
    border: 2px solid #307fe7;
    border-radius: 40px;
    box-shadow: 0 0 10px #09c548;

}