* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
     margin: 0;
     padding: 0 ;
  
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/1000_F_288691510_GUg6qQ3EDLM0mxnL7UC3qJ4Ev7JjVWGb.jpg) ;
    background-size: cover;
    background-position:center;
}
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80rem;
 
  
}
nav ul li{
    display: inline-block;
    list-style: none;
    /* margin: 10px 0 20px; */

}
.header-text{
    margin-top: 20px;
    font-size: 30px;
}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border: 2px solid #4406b6;
    background: none;
    color: #080bbe;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #00bfff;
    color: #ffffff;
}
#sidemenu{
    display: flex;
      margin: 10px 0 80px;
      gap: 40px;
      justify-content: space-between;
}

/*sectiions*/
section{ 

 text-align: center;   
}


#About{
    background: #a52424;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center;
}
#Services{
    background: darkcyan;

}
#Contact{
    background: darkblue;
}
h1,h2{
    margin-bottom: 20px;
    color:darkred ;
}